<ion-view title="Fares" id="page6">
    <ion-nav-bar class = "bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-divider">Fares in Rupees per Hour</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/cachNox8SVOSUd05b1P0_download.png">
                <h2>Two Wheeler</h2>
                <p>&#8377; 25</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/MvqhIrK7RbOvEeYbro92_095.jpg">
                <h2>Auto Rickshaw</h2>
                <p>&#8377; 50</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/vsPWsfHT2W7zIsktJosK_1447967165990.png">
                <h2>Car</h2>
                <p>&#8377; 75</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/9y6hitPfSUWXlnlMceBB_Jeep-Grand-Cherokee1.jpg">
                <h2>SUV</h2>
                <p>&#8377; 100</p>
            </ion-item>
        </ion-list>
        <div style="position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color:#6ab9ec;">&copy;<strong>sudo-get_AC</strong></div>
    </ion-content>
</ion-view>