<ion-view title="Help" id="page4">
    <ion-nav-bar class = "bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div id="help-markdown2" style="color:#000000;">
            <p>This Application is made to help drivers to select parking spaces in public places.</p>
        </div>
        <div style="text-align:center;">
            <img src="img/IixUqwBmTeeAqpiQiQgm_CarMap.png" width="100%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-divider">Steps to book a slot:</ion-item>
            <ion-item>1. Load Map in Home Page.</ion-item>
            <ion-item>2. Select from the displayed results.</ion-item>
            <ion-item>3. Book the slot.</ion-item>
        </ion-list>
        <div style="position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  color:#6ab9ec;"><del>&copy; </del><strong>sudo-get_AC</strong></div>
    </ion-content>
</ion-view>